body {
  font-family: "Lato", sans-serif;
  /* font-family: "Moon Dance", cursive; */
  margin-left: 150px;
  margin-right: 150px;
}
/* 
hedaer section strat */
h1 {
  width: 600px;
  border-left: #ff5959 2px solid;
  border-image-slice: 1;
  padding-left: 10px;
  line-height: 35px;
}
.header {
  display: flex;
  margin: auto;
}
.my_img {
  /* width: 40px;
  height: auto; */
  width: 40%;
}
span {
  color: #ffad5a;
}
.buttons {
  text-decoration: none;
  padding: 10px 10px;
  color: white;
  background-color: #ff5959;
  border-radius: 6px;
  margin-top: 30px;
  margin-left: 10px;
}
.about_mission {
  padding: 10px;
  width: 40%;
  margin-right: 200px;
  margin-top: 40px;
}
p {
  margin: 25px 10px;
}
/* 
hedaer section end */

/* 
goals section start */
.my_missions {
  display: flex;
}
.icons {
  width: 30%;
  height: auto;
}
h4 {
  margin: 25px 10px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

#mission {
  background-color: #edf5f6;
  width: 30%;
  margin-right: 35px;
  padding: 10px 10px;
  border-radius: 10px;
}
#vission {
  background-color: #ffeeee;
  width: 30%;
  margin-right: 35px;
  padding: 10px 10px;
  border-radius: 10px;
}
#goals {
  background-color: #fff4d6;
  width: 30%;
  padding: 10px 10px;
  border-radius: 10px;
}
/* 
goals section end */
